# =========================
# Python / Virtual Env
# =========================
.venv/
venv/
env/
__pycache__/
*.pyc

# =========================
# dbt
# =========================
target/
dbt_packages/
logs/

# dbt profiles (NUNCA versionar)
profiles.yml

# =========================
# Databricks / Secrets
# =========================
.env

# =========================
# Airflow (gerado automaticamente)
# =========================
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/logs/
airflow/standalone_admin_password.txt

# =========================
# OS / Editor
# =========================
.vscode/
.DS_Store
Thumbs.db